<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    <title>Apuestas</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" type="text/css" href="/stylesheets/default.css">
</head>
<body>

<div class="wrapper">
  <h1>Apuestas del torneo Indie Alpha del JSPPSPG 2010</h1>

  <p class="notice">
    El sistema lo hicimos con la intención de que se haga buen uso de él. No estamos agregando muchas validaciones
     porque creemos que estamos tratando con gente pensante y civilizada. En dado caso de que alguien decida hacer apuestas
     de forma ridícula e ilegítima tendremos que <span class="warning">reventarle un bastonazo en las gónadas.</span>
     Así que porfavor ahorrense las molestias, hospital y recuperación.
  </p>

  <div class="content">
    <%= yield %>
  </div>

</div>

</body>
</html>

